@{
    ViewBag.Title = "Lista categorii";
}
<h2>@ViewBag.Title</h2>
<br />  
@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}
<br />


@foreach (RepReady.Models.Category category in ViewBag.Categories)
{
    <div class="form-group">
        <div class="alert-success px-1 align-content-center"><i class="bi bi-globe"></i> @category.Name</div>
    </div>
    <br />
    
    @if (ViewBag.EsteAdmin == true)
    {
        <a class="btn alert-success" asp-controller="Categories" asp-action="Show" asp-route-id="@category.Id">Afisare categorie</a>
        <a class="btn alert-success" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">Editare categorie</a>
    }
    
    <br />
    <br />
}
<br />
@if(ViewBag.EsteAdmin == true)
{
    <a class="btn btn-success" asp-controller="Categories" asp-action="New">Adauga o noua categorie</a>
}

<br />

