
<h1 class="text-center mb-4">Invitații</h1>

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br />

<div class="invitations-container">
    @foreach (var invitation in ViewBag.Invitations)
    {
        @if (invitation.Accepted == false)
        {
            <div class="invitation-card mb-4 p-4 border rounded-3 shadow-lg">
                <h3 class="invitation-title">@invitation.WorkoutName</h3>
                <p class="invited-by">Primită de la: <strong>@invitation.InvitedBy</strong></p>

                <div class="button-group d-flex justify-content-around mt-3">
                    <form method="post" asp-action="Accept" asp-controller="WorkoutInvitations" asp-route-id="@invitation.Id">
                        <button type="submit" class="btn btn-success px-4 py-2">Acceptă</button>
                    </form>

                    <form method="post" asp-action="Reject" asp-controller="WorkoutInvitations" asp-route-id="@invitation.Id">
                        <button type="submit" class="btn btn-danger px-4 py-2">Refuză</button>
                    </form>
                </div>
            </div>
        }
    }
</div>
