@model RepReady.Models.Exercise

<h2>Adăugare participanți</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}


<form method="post" asp-action="AddUsers" asp-controller="Exercises" asp-route-id="@Model.Id">

    <!-- Edit users -->
    <!-- Multiple choice users -->
    <div class="form-group">
        <label>Utilizatori</label><br />

        @foreach (var user in ViewBag.Users)
        {
            bool isChecked = ViewBag.SelectedUsers.Contains(user.Id);
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="UsersIdList" value="@user.Id" id="user_@user.Id" @(isChecked ? "checked" : "") />
                <label class="form-check-label" for="user_@user.Id">
                    @user.UserName
                </label>
            </div>
        }


        <!-- <span asp-validation-for="Users" class="text-danger"></span> -->
    </div>

    <!-- Workout Selection -->
    <div class="form-group">
        <input type="hidden" name="WorkoutId" value="@ViewBag.WorkoutId" />
    </div>
    <br />


    <!-- Submit Button -->
    <button type="submit" class="btn btn-success">Salveaza exercițiul</button>
</form>
