@model RepReady.Models.Exercise


<div class="add-participants-container">
    <h2 class="text-center mb-4">Adăugare Participanți</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger text-center">@ViewBag.ErrorMessage</div>
    }


    <form method="post" asp-action="AddUsers" asp-controller="Exercises" asp-route-id="@Model.Id" class="add-participants-form">
        

        <!-- Edit users -->
        <!-- Multiple choice users -->
        <div class="form-group mb-4">
            <label class="form-label">Utilizatori</label>
            <div class="users-checkbox-group">
                @foreach (var user in ViewBag.Users)
                {
                    bool isChecked = ViewBag.SelectedUsers.Contains(user.Id);
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="UsersIdList" value="@user.Id" id="user_@user.Id" @(isChecked ? "checked" : "") />
                        <label class="form-check-label" for="user_@user.Id">
                            @user.UserName
                        </label>
                    </div>
                }
            </div>
        </div>

        <!-- Workout Selection -->
        <div class="form-group">
            <input type="hidden" name="WorkoutId" value="@ViewBag.WorkoutId" />
        </div>
        <br />


        <!-- Submit Button -->
        <button type="submit" class="btn btn-success">Salveaza exercițiul</button>
    </form>
</div>