@model RepReady.Models.Exercise
<h2>Formular adăugare exercițiu</h2>

<br />

<form method="post" asp-action="New" asp-controller="Exercises">
    <!-- Title -->
    <div class="form-group">
        <label asp-for="Title">Titlu exercițiu</label>
        <br />
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />

    <!-- Description -->
    <div class="form-group">
        <label asp-for="Description">Descriere exercițiu</label><br />
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <!-- Reps -->
    <div class="form-group">
        <label asp-for="Reps">Număr de repetări</label><br />
        <input asp-for="Reps" class="form-control" />
        <span asp-validation-for="Reps" class="text-danger"></span>
    </div>
    <br />

    <!-- Sets -->
    <div class="form-group">
        <label asp-for="Sets">Număr de seturi</label><br />
        <input asp-for="Sets" class="form-control" />
        <span asp-validation-for="Sets" class="text-danger"></span>
    </div>
    <br />

    <!-- Status -->
    <div class="form-group">
        <label asp-for="Status">Status</label><br />
        <select asp-for="Status" class="form-control">
            <option value="">Selectează statusul</option>
            <option value="true">Complet</option>
            <option value="false">Incomplet</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <br />

    <!-- Start Date -->
    <div class="form-group">
        <label asp-for="Start">Data și ora de început</label><br />
        <input asp-for="Start" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>
    <br />

    <!-- Finish Date -->
    <div class="form-group">
        <label asp-for="Finish">Data și ora de final</label><br />
        <input asp-for="Finish" type="datetime-local" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="Finish" class="text-danger"></span>
    </div>
    <br />

    <!-- Multiple choice users -->
    <div class="form-group">
        <label>Utilizatori</label><br />

        @foreach (var user in ViewBag.Users)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="UsersIdList" value="@user.Id" id="user_@user.Id" />
                <label class="form-check-label" for="user_@user.Id">
                    @user.UserName
                </label>
            </div>
        }

        <!-- <span asp-validation-for="Users" class="text-danger"></span> -->
    </div>



    <!-- Workout Selection -->

    
   <div class="form-group"> 
        <input type="hidden" name="WorkoutId" value="@ViewBag.Workout.Id" />
    </div>

    <br />

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success">Adaugă exercițiul</button>
</form>
