@model RepReady.Models.Exercise


@* Exercise details card *@
<div class="card">
    <div class="card-body">
        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>

        <div class="card-text">@Model.Description</div>
        <div>Creator: <i class="bi bi-person"></i> @ViewBag.CreatorName</div>

        <div class="d-flex justify-content-between flex-row mt-5">
            <span class="alert-success">Repetari: @Model.Reps</span>
            <span class="alert-success">Seturi: @Model.Sets</span>
            @if(ViewBag.Status != null)
            {
                <span class="alert-success">Status: @(ViewBag.Status == 1 ? "Complet" : (ViewBag.Status == -1 ? "Incomplet" : "În progres"))</span>
            }
            <span class="alert-success">Start: @Model.Start.ToString("g")</span>
            <span class="alert-success">Finish: @Model.Finish.ToString("g")</span>

        </div>

        
        <div>
            @if (Model.Image != null)
            {
                @if (Model.Image.Contains(".mp4") || Model.Image.Contains(".mov"))
                {
                    <video width="550" height="300" controls>
                        <source src="@Model.Image" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                }
                else
                {
                    <img src="@Model.Image" alt="Article Image" style="width:100%; height: 450px; object-fit: cover" />
                }
            }
        </div>
        

    </div>

    <hr />

    <div class="d-flex flex-row justify-content-between">
        <form method="post" asp-controller="Exercises" asp-action="ChangeStatus" asp-route-ExerciseId="@Model.Id" asp-route-UserId="@ViewBag.CurrentUser">
            @if (ViewBag.Status != null)
            {
                <div class="d-flex flex-row justify-content-between">
                    @if (ViewBag.Status == -1)
                    {
                        <button class="btn btn-success" type="submit">Începe exercițiul</button>
                    }
                    else if (ViewBag.Status == 0)
                    {
                        <button class="btn btn-warning" type="submit">Finalizează exercițiul</button>
                    }
                    else
                    {
                    
                        <button class="btn btn-danger" type="submit">Reia exercițiul</button>
                    }
                </div>
            }
        </form>

    </div>

    <hr />

    @if(ViewBag.EsteAdmin == true || ViewBag.EsteCreator == true)
    {
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" asp-controller="Exercises" asp-action="Edit" asp-route-id="@Model.Id">Editează exercițiul</a>

            <a class="btn btn-success" asp-controller="Exercises" asp-action="AddUsers" asp-route-id="@Model.Id">Editează utilizatori</a>
        
        
            <form method="post" asp-controller="Exercises" asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Sterge exercitiu</button>
            </form>
        </div>
    }
</div>

<br />
<br />

<h2>Participanți:</h2>
@foreach (var user in Model.Users)
{
    <p>@user.UserName</p>
}

@* Display comments section *@
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div>
                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>
                    @if(@comm.WasEdited == true)
                    {
                        <small>Edited</small>
                    }
                    
                </div>
                <br>

                @if(ViewBag.EsteAdmin == true || ViewBag.CurrentUser == comm.User.Id)
                {
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                <i class="bi bi-pencil-square"></i>Editeaza
                            </a>
                        </div>

                        <div>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">
                                <button class="btn btn-outline-danger" type="submit">
                                    <i class="bi bi-trash"></i>Sterge
                                </button>
                            </form>
                        </div>
                    </div>
                }

                <br />
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
}

@* Add comment form *@
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="card">
                <form method="post" asp-controller="Exercises" asp-action="Show">
                    <div class="card-body">
                        <input type="hidden" name="ExerciseId" value="@Model.Id" />

                        <label>Continut comentariu</label> 
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        
                        
                        <br />
                        <button class="btn btn-success" type="submit">Adauga comentariul</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>
