<br />
<h2 class="text-center">Afisare antrenamente</h2>
<br />

@if (ViewBag.InvitationsCount > 0)
{
        <div class="invitation-alert">
            <div class="alert-content">
                <span class="alert-icon">
                    <i class="bi bi-envelope-fill"></i>
                </span>
            @if (ViewBag.InvitationsCount == 1)
            {
                        <span class="alert-text">Aveți o invitație nouă!</span>
            }
            else
            {
                        <span class="alert-text">Aveți @ViewBag.InvitationsCount invitații noi!</span>
            }
            </div>
        </div>
}



@if(ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}
<br />

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Toate Antrenamentele</h4>
    <a class="btn btn-primary" asp-controller="Workouts" asp-action="New">Adaugă Antrenament</a>
</div>

<div class="row card-size">
    @foreach (var workout in ViewBag.Workouts)
    {
        
        <div class="col-md-4 mb-4 d-flex justify-content-center">
            <div class="card workout-card shadow-sm d-flex flex-column justify-content-between">
                <div class="card-body">
                    <h5 class="card-title workout-title mb-3 text-primary">@workout.Name</h5>
                    <p class="card-text workout-description">@workout.Description</p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary workout-btn" asp-controller="Workouts" asp-action="Show" asp-route-id="@workout.Id">Afișare Antrenament</a>
                </div>
            </div>
        </div>
    }
</div>


@* Afisarea paginata *@

<div class="page-navigation-btn">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>