@model RepReady.Models.Workout



<div class="container mt-5">
    @if (TempData["message"] != null)
    {
        <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
            @ViewBag.Message
        </div>
    }
    <br />

    <div class="card shadow-lg mb-4">
        <partial name="WorkoutInfo" model="Model"></partial>
        <div class="d-flex flex-wrap justify-content-center gap-2">
        
            @if (Model.CreatorId == ViewBag.UserCurent || ViewBag.EsteAdmin == true)
            {

                <a class="btn btn-primary" asp-controller="Workouts" asp-action="Edit" asp-route-id="@Model.Id">Editeaza antrenament</a>


                    @if (ViewBag.EsteAdmin == true && ViewBag.EsteCreator == false)
                    {
                    <a class="btn btn-primary" asp-controller="Workouts" asp-action="TakeOver" asp-route-id="@Model.Id">Preia antrenamentul</a>
                    }


                    <form method="post" asp-controller="Workouts" asp-action="Delete" asp-route-id="@Model.Id">
                        <button class="btn btn-danger" type="submit">Sterge antrenament</button>
                    </form>
        

                @* We passed the WorkoutId to the controller to know in which Workout we add the invitation *@
                TempData["workoutId"] = @Model.Id;
                <a class="btn btn-primary" asp-controller="WorkoutInvitations" asp-action="New">Invită participanți</a>
                
            }
            
            @if (Model.CreatorId == ViewBag.UserCurent || ViewBag.EsteAdmin == true || ViewBag.EsteOrganizer == true)
            {
                @* We passed the WorkoutId to the controller to know in which Workout we add the exercise *@
                TempData["workoutId"] = @Model.Id;
                <a class="btn btn-primary" asp-controller="Exercises" asp-action="New">Adauga exercițiu</a>
                TempData["workoutId"] = @Model.Id;
                <a class="btn btn-primary" asp-controller="ExerciseTemplates" asp-action="Index" asp-route-workoutId="@Model.Id">Foloseste model</a>
            }
        </div>
    </div>
    <br />
    <br />

    <div class="mb-4">
        <h4 class="text-primary">Participanți:</h4>
        <ul class="list-group">
            @foreach (var user in Model.Users)
            {
                <li class="list-group-item">@user.UserName</li>
            }
        </ul>
    </div>



     @*Afisare exercitii impreuna cu butoanele de editare si stergere*@ 
    <div>
        <h4 class="text-primary mb-3">Exerciții:</h4>

        @foreach (var exercise in ViewBag.Exercises)
        {
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">@exercise.Title</h5>
                    <p class="card-text text-muted">@exercise.Description</p>
                    <div class="d-flex flex-wrap gap-3">
                        <span class="badge bg-primary">Reps: @exercise.Reps</span>
                        <span class="badge bg-primary">Sets: @exercise.Sets</span>
                        <span class="badge bg-primary">Start: @exercise.Start.ToString("g")</span>
                        <span class="badge bg-primary">Finish: @exercise.Finish.ToString("g")</span>
                    </div>
                    <a class="btn btn-outline-primary mt-3" href="/Exercises/Show/@exercise.Id">Afișează Exercițiu</a>
                </div>
            </div>
        }
    </div>


    @* Afisarea paginata a exercitiilor *@

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
                }

                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>